<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

   	<servlet>
		<servlet-name>LoginUsuarioV03</servlet-name>
		<servlet-class>servlets.v03.LoginUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginUsuarioV03</servlet-name>
		<url-pattern>/v03/LoginUsuario</url-pattern>
	</servlet-mapping>
	
	   	<servlet>
		<servlet-name>LoginUsuarioV04</servlet-name>
		<servlet-class>servlets.v04.LoginUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginUsuarioV04</servlet-name>
		<url-pattern>/v04/LoginUsuario</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>